---

export interface Props {
	title: string;
	subtitle?: string;
	body: string;
	footer: string;
	id: string;
	date?: string;
	href?: string;
}

const { title,subtitle,  body, id, footer, href, date="" } = Astro.props;
---

<!-- 
<article id={id} >
	<header> {title} <div set:html={date}></div></header>
	
	<div set:html={body}></div>

</article>
-->

<div class="card" id={id}>

	<a href={href}></a>
	<div class="card-content">
	  <div class="media">
		<div class="media-content"> 
		  <p class="title is-4" >{title}</p>
		  <p class="subtitle is-6">{subtitle}</p>
		</div>
	  </div>
  
	  <div class="content">
		<div set:html={body}></div>
		<br>
		<div> {date} </div>  <!-- Date -->

		<div class="ml-3 p-2 overflow-custom" set:html={footer}>
		</div>
	  </div>
	</div>
	<!--
	<div class="ml-3 p-2 overflow-custom" set:html={footer}>
	</div>
	 -->

		<!-- <a href={href} class="card-footer-item">{href}</a> -->
	
  </div>


<style>
	article{
		border: 1px solid rgba(var(--primary), 25%);
		color:#1d2a33;
	}
	header{
		display: flex;
		justify-content: space-between;
	}
	.p-1{
		padding-bottom: 20px !important;
	}
	.media-content{
		overflow: hidden;
	}

	
	@media (max-width: 768px){
		.overflow-custom{
			width: 300px;
			overflow: hidden;
		}
	}
</style>
